<!-- business/templates/business/place_search.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Cafe Search</h2>
  <form method="get" action="{% url 'place_search' %}">
    {{ form }}
    <button type="submit">Search</button>
  </form>

  {% if cafes %}
    <h3>Search Results:</h3>
    <ul>
      {% for business in business %}
        <li>
          {{ business.business_name }} - Rating: {{ business.rating }} - Available Tables: {{ business.available_tables }} - District: {{ business.district }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No cafes found.</p>
  {% endif %}
{% endblock %}
