<!-- users/templates/users/user_login.html -->
{% extends 'base.html' %}

{% block title %}Your Login Page Title{% endblock %}

{% block content %}
  <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
    <a href="{% url 'users:home' %}" style="text-decoration: none; color: black; font-size: 24px;">Locailable</a>
    <h1>{{ page|title }}</h1>

    <!-- Login Form -->
    <form method="POST" action="{% url 'users:login' %}" id="loginForm" style="max-width: 300px; text-align: left; padding: 20px; border: 1px solid #ccc; border-radius: 8px; display: flex; flex-direction: column; align-items: center;">
      {% csrf_token %}
      <!-- Add your form fields here -->
      <label for="id_username">Username:</label>
      <input type="text" name="username" id="id_username" class="input-field" required>
      <br>
      <label for="id_password">Password:</label>
      <input type="password" name="password" id="id_password" class="input-field" required>
      <br>
      <button type="submit" style="padding: 10px; margin-top: 20px; display: block;">Login</button>
    </form>

    <p style="margin-top: 20px;">Don't have an account? <a href="{% url 'users:user_signup' %}">Sign Up</a></p>
  </div>

  <script>
    // Redirect to the home page when clicking the "Locailable" link
    document.querySelector('a[href="{% url 'users:home' %}"]').addEventListener('click', function(event) {
      event.preventDefault();
      window.location.href = '{% url 'users:home' %}';  // Update the URL here
    });
  </script>
{% endblock %}
